  ////////////////////////////////
 // VARS ////////////////////////
////////////////////////////////



// COLORS
$white : #ECF0F1;
$slate : #2C3E50;
$red : #E74C3C;
$medical : #22bdaf;
$green : #00554c;
$black : #000;



// Dimensions
$maxWidth : 1440px;