  //////////////////////////////////////
 // FOOTER ////////////////////////////
//////////////////////////////////////



.footer {
	box-shadow: -1px -1px 10px lighten(#000, 60);
	background: #FFF;
	bottom: 0;
	display: table;
	position: absolute;
	left: 0;
	width: 100%;

	&__cell {
		display: table-cell;
		
		p {
			color: lighten(#000, 50);
			font-weight: 200;
		}
		
		&:first-child {
			padding-left: 14%;
			text-align: left;
		}
		
		&:last-child {
			padding-right: 14%;
			text-align: right;
		}
	} // end cell

} // end footer