  //////////////////////////////////////
 // HEADER ////////////////////////////
//////////////////////////////////////



.header {
    height: 70px;
    position: fixed;
    width: 100%;
} // end header