  /////////////////////////////////////////////////
 // ITEM CONTROL /////////////////////////////////
/////////////////////////////////////////////////



.item-control {
    background: #FFF;
    padding: 0;
    width: 100%;

    a.author {
        text-transform: uppercase;
        font-size: .8vmax;
    }
    
    ul {
        list-style: none;
        padding: 0;
        
        .author-details {
            float: left;
        }

        &.popularity {
            float: right;
            text-align: right!important;
            li {
                font-size: .8vmax;
                text-align: right;
            }
        }

    } // End Metadata Lists
    
} // end item-control